<div class="grid-x grid-padding-x">
  <div class="cell large-9 medium-9 small-12">
    <div class="input-group">
      <!-- input-focus="searchInput" class="ng-pristine ng-valid ng-empty ng-touched" -->
      <input
        type="search"
        name="search"
        id="search"
        placeholder="Busque o fundo por nome"
      />
      <i ng-click="searchInput()" class="mdi mdi-magnify float-right"></i>
    </div>
    <table class="hover unstriped">
      <thead>
        <tr>
          <th>Fundo</th>
          <th>Data da cota</th>
          <th>Mês (%)</th>
          <th>2016 (%)</th>
          <th>12M (%)</th>
          <th>Aplicação mínima (R$)</th>
          <th>Prazo do resgate</th>
          <th>Aplicar</th>
        </tr>
      </thead>
      <tr class="">
        <th colspan="8" class="fund-macro-strategy">Renda Fixa</th>
      </tr>
      <tr class="">
        <th colspan="8" class="fund-main-strategy">Indexado Soberano</th>
      </tr>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>
            This is longer content Donec id elit non mi porta gravida at eget
            metus.
          </td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cell large-3 medium-2 small-12 columns hide-for-small-only">
    TODO
  </div>
</div>
