.input-group, .table {
  background: #fff;
  border-radius: 3px;
  box-shadow: 6px 6px 25px 0 rgba(97,120,146,0.12);
}

input[type=text] {
  border-color: #505152;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin: 10px;
  &:focus {
    border-color: #119c9f;
    border-width: 0 0 2px;
  }
}

.table {
  .columns {
    padding: 10px;
    text-align: right;
    &.text-left {
      text-align: left;
    }
  }
  .fund-strategies {
    .title-macro {
      font-weight: 700;
      background: #eff0f2;
      padding: 10px;
      text-transform: uppercase;
    }
    .title-main {
      font-weight: 700;
      background: #f4f5f7;
      padding: 10px;
    }
  }
  .preloader {
    display: block;
    padding: 40px;
    text-align: center;
  }
}

.category-macro-strategy {
  background: #fff;
  box-shadow: 6px 6px 25px 0 rgba(97,120,146,0.12);
  margin-bottom: 30px;
  label:hover {
    cursor: pointer;
  }
  input[type=checkbox] {
    margin: 0 5px 0 0;
    &:after {
      content: "";
      text-align: center;
    }
    &:checked:after {
      background-color: purple;
      border-radius: 3px;
      content: "\2714";
      color: #fff;
      padding: 0 2px;
      /* this is a checkmark symbol */
    }
  }
  .title-macro {
    background: #f4f5f7;
    font-weight: 700;
    padding: 3px 15px;
    text-transform: uppercase;
    input[type=checkbox]:checked:after {
    }
  }
  .title-main {
    border-bottom: solid 1px #eff0f2;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 15px 3px 35px;
    input[type=checkbox]:checked:after {
    }
  }
}