<div class="grid-x grid-padding-x">
  <div class="cell large-9 medium-12">
    <div class="input-group">
      <input
        type="text"
        placeholder="Busque o fundo por nome"
        [(ngModel)]="searchFund"
      />
    </div>
    <div class="table">
      <div class="grid-x table-header">
        <div class="columns medium-4 small-4 text-left">Fundo</div>
        <div class="columns medium-1 small-3">Data da cota</div>
        <div class="columns medium-1 show-for-medium">Mês (%)</div>
        <div class="columns medium-1 show-for-medium">2020 (%)</div>
        <div class="columns medium-1 show-for-medium">12M (%)</div>
        <div class="columns medium-2 small-3">Aplicação mínima (R$)</div>
        <div class="columns medium-1 show-for-medium">Prazo do resgate</div>
        <div class="columns medium-1 small-2">Aplicar</div>
      </div>
      <div class="fund-strategies" *ngFor="let macro of MacroStrategyChecked() | inputSearch: searchFund">
        <div class="title-macro" *ngIf="macro.mainStrategies.length > 0">
          {{ macro.name }}
        </div>
        <div class="fund-main-strategy" *ngFor="let main of MainStrategyChecked(macro)">
          <div class="title-main" *ngIf="main.funds.length > 0">
            {{ main.name }}
          </div>
          <div class="grid-x" *ngFor="let item of main.funds">
            <div class="columns medium-4 small-4 text-left">
              {{ item.simple_name }} 
              <span class="isQualified" *ngIf="item.specification.is_qualified">
                <i class="fa fa-certificate" aria-hidden="true"></i>
              </span>
              <p class="fund-type">{{ macro.name }} | {{ item.specification.fund_class }}</p>
            </div>
            <div class="columns medium-1 small-3">{{ item.quota_date | date: 'shortDate' }}</div>
            <div class="columns medium-1 show-for-medium">{{ item.profitabilities.month | number : '1.2-2' }}</div>
            <div class="columns medium-1 show-for-medium">{{ item.profitabilities.year | number : '1.2-2' }}</div>
            <div class="columns medium-1 show-for-medium">{{ item.profitabilities.m12 | number : '1.2-2' }}</div>
            <div class="columns medium-2 small-3">{{ item.operability.minimum_initial_application_amount | number:'0.2':'pt' }}</div>
            <div class="columns medium-1 show-for-medium info-hover">
              <i class="fa fa-info-circle i-font i-style" aria-hidden="true"></i>
              <span>
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                <strong>Dias para a conversão do resgate:</strong>
                3º dia útil anterior ao último dia útil do 2º mês.
                Calendário subsequente à solicitação de resgate
              </span>
            </div>
            <ng-container *ngIf="item.is_closed; else elseTemplate">
              <div class="columns medium-1 small-2">
                <i class="fa fa-reply i-font" aria-hidden="true"></i>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="columns medium-1 small-2">
                <i class="fa fa-times-circle i-font" aria-hidden="true"></i>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="mdi-spin" *ngIf="macroStrategyFunds.length == 0" class="preloader">
        <img src="../../../../assets/img/preloader.svg" alt="Carregando...">
      </div>
    </div>
  </div>
  <div class="cell large-3 medium-2 small-12 columns show-for-large">
    <div class="category-macro-strategy" *ngFor="let macro of macroStrategyFunds">
      <label class="title-macro">
        <input type="checkbox" (click)="MacroStrategyChecked()"
          [(ngModel)]="macro.checked" [value]="macro.name">
            {{ macro.name }}
      </label>
      <div class="category-main-strategy" *ngFor="let main of macro.mainStrategies">
        <label class="title-main">
          <input type="checkbox" (click)="MainStrategyChecked(macro)"
            [(ngModel)]="macro.checked && main.checked" [value]="main.name">
              {{ main.name }}
        </label>
      </div>
    </div>
  </div>
</div>