.input-group, .table {
  background: #fff;
  border-radius: 3px;
  box-shadow: 6px 6px 25px 0 rgba(97,120,146,0.12);
}

input[type=text] {
  border-color: #505152;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin: 10px;
  &:focus {
    border-color: #119c9f;
    border-width: 0 0 2px;
  }
}

.table {
  font-size: small;
  .table-header {
    font-weight: 700;
  }
  .columns {
    padding: 10px;
    text-align: right;
    &.text-left {
      text-align: left;
    }
    .fund-type {
      color: #757678;
    }
  }
  .fund-strategies {
    .title-macro {
      font-weight: 700;
      background: #eff0f2;
      padding: 10px;
      text-transform: uppercase;
    }
    .title-main {
      font-weight: 700;
      background: #f4f5f7;
      padding: 10px;
    }
    .i-font {
      font-size: 20px;
    }
    .isQualified i {
      color: #639d31;
      position: relative;
      &:hover:after {
        background: rgba(0,0,0,0.8);
        bottom: 17px;
        color: #fff;
        content: 'Fundo para investidor qualificado';
        left: -60px;
        padding: .4rem .8rem;
        position: absolute;
        text-align: center;
        width: 140px;
      }
    }
    .i-style {
      background: #505152;
      border-radius: 30px;
      color: white;
      padding: 0px 2px;
    }
    .info-hover {
      position: relative;
      span {
        display: none;
        i {
          color: white;
          font-size: 15px;
          left: 51%;
          position: absolute;
          top: -11px;
        }
        &:before {
          border: 7px solid;
          border-color: transparent transparent #505152 transparent;
          content: '';
          left: 50%;
          top: -14px;
          position: absolute;
        }
      }
      &:hover span {
        background: #fff;
        border: 1px solid #505152;
        border-radius: 3px;
        color: #505152;
        display: block;
        left: calc(-50% - 25px);
        padding: .8rem;
        position: absolute;
        text-align: left;
        top: 50%;
        width: 240px;
        z-index: 1;
      }
    }
  }
  .preloader {
    display: block;
    padding: 40px;
    text-align: center;
  }
}

.category-macro-strategy {
  background: #fff;
  box-shadow: 6px 6px 25px 0 rgba(97,120,146,0.12);
  margin-bottom: 30px;
  label:hover {
    cursor: pointer;
  }
  input[type=checkbox] {
    margin: 0 5px 0 0;
    position: relative;
    &:after {
      content: "";
      text-align: center;
    }
    &:checked:after {
      background-color: #119c9f;
      border-radius: 2px;
      content: "\2714";
      color: #fff;
      font-size: smaller;
      padding: 1px 2px 1px 3px;
      position: absolute;
    }
  }
  .title-macro {
    background: #f4f5f7;
    font-weight: 700;
    padding: 3px 15px;
    text-transform: uppercase;
  }
  .title-main {
    border-bottom: solid 1px #eff0f2;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 15px 3px 35px;
  }
}